<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <%= render "devise/shared/links" %>
  </div>
</header>
<section>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.label :email %>
      <br />
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <div>
      <%= f.label :password %>
      <br />
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</section>
