<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<menu>
  <%= menu_link "prev",   mpd_prev_path %>
  <%= menu_link "toggle", mpd_toggle_path %>
  <%= menu_link "next",   mpd_next_path %>
  <%= menu_link "-",      mpd_volDown_path %>
  <%= menu_link "+",      mpd_volUp_path %>
</menu>
<div id="songview"   class="viewsection">
  <div id="progressbar-container">
    <div id="progressbar"></div>
  </div>
  <div id="songdisplay">
    <p id="albumart"></p>
    <div id="albumart-overlay"></div>
    <div id="songinfo">
      <p id="title">
      </p>
      <p id="artist">
      </p>
      <p id="album">
      </p>
    </div>
  </div>
</div>
