<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <%= render "devise/shared/links" %>
  </div>
</header>
<section>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div>
      <%= f.label :email %>
      <br />
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <div>
      <%= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>
</section>
