  <div id="toolbar" class="ui-widget-header ui-corner-all">
</header>
<section>
  <h2>Choose cover for</h2>
  <h3><%= @album.artist %> - <%= @album.title %></h3>
  <%= image_tag @album.cover.url, size: "300x300" %>
  <%= form_for(@album) do |f| %>
    <%= f.file_field :cover %>
    <%= f.submit "Update" %>
  <% end %>
</section>
