  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <button id="album-reset-button">reset covers</button>
    <button id="album-retrieve-button">retrieve covers</button>
  </div>
</header>
<section>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Artist</th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= image_tag album.cover.url(:thumb), size:"80x80" %></td>
          <td><%= album.artist %></td>
          <td><%= album.title %></td>
          <td><%= link_to 'Edit', edit_album_path(album) %></td>
          <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
