  <div id="toolbar" class="ui-widget-header ui-corner-all">
  <p id="notice"><%= notice %></p>
</header>
<section>
  <h2><%= notice %></h2>
  <h3><%= @album.artist %> - <%= @album.title %></h3>

  <%= image_tag @album.cover.url, size: "300x300" %>

  <br/>

  <%= link_to 'Edit', edit_album_path(@album) %> |
  <%= link_to 'Back', albums_path %>
</section>
