<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <%= render "devise/shared/links" %>
  </div>
</header>
<section>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email %>
      <br />
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <div>
      <%= f.label :password %>
      <br />
      <%= f.password_field :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div>
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div>
      <%= f.submit "Sign in" %>
    </div>
  <% end %>
</section>
