<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<!DOCTYPE html>
<html>
<head>
  <title>Webmpc</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% flash.each do |name, msg| %>
    <%= content_tag :mark, msg, id: "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <nav>
    <%= nav_link "song", :now_playing %>
    <%= nav_link "playlist", :playlist %>
    <%= nav_link "search", :search %>
    <%= nav_link "browse", :browse %>

    <% if user_signed_in? %>
      <% if can? :manage, User %>
        <%= nav_link "users", users_path %>
      <% end %>
      <%= nav_link "user", edit_user_registration_path %>
      <%= link_to "logout", destroy_user_session_path, method: :delete, onFocus: "blur();" %>
    <% else %>
      <%= nav_link "login", new_user_session_path %>
    <% end %>
  </nav>

  <%= yield %>
</body>
</html>
