<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<!DOCTYPE html>
<html>
<head>
  <title>Webmpc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <%= yield %>
</body>
</html>
