<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<!DOCTYPE html>
<html>
<head>
  <title>Webmpc</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <nav>
    <%= link_to :now_playing do %>
      <div id="songbutton">song</div>
    <% end %>

    <%= link_to :playlist do %>
      <div id="playlistbutton">playlist</div>
    <% end %>

    <%= link_to :search do %>
      <div id="searchbutton">search</div>
    <% end %>

    <%= link_to :browse do %>
      <div id="browsebutton">browse</div>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, :method => :delete do %>
        <div id="logoutbutton">logout</div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <div id="loginbutton">login</div>
      <% end %>
    <% end %>
  </nav>

  <div id="displayarea">
  </div>

  <%= yield %>
</body>
</html>
