<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<!DOCTYPE html>
<html>
<head>
  <title>Webmpc</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <nav>
    <%= link_to :now_playing, class: current?(:now_playing) do %>
      <span>song</span>
    <% end %>

    <%= link_to :playlist, class: current?(:playlist) do %>
      <span>playlist</span>
    <% end %>

    <%= link_to :search, class: current?(:search) do %>
      <span>search</span>
    <% end %>

    <%= link_to :browse, class: current?(:browse) do %>
      <span>browse</span>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <span>logout</span>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: current?(new_user_session_path) do %>
        <span>login</span>
      <% end %>
    <% end %>
  </nav>

  <div id="displayarea">
  </div>

  <%= yield %>
</body>
</html>
