<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<!DOCTYPE html>
<html>
<head>
  <title>Webmpc</title>
  <%= stylesheet_link_tag "/jqm/jquery.mobile-1.4.0.css" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "/jqm/jquery.mobile-1.4.0.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <% flash.each do |name, msg| %>
    <%= content_tag :mark, msg, id: "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <nav data-role="header">
    <%= nav_link "song", :now_playing %>
    <%= nav_link "playlist", :playlist %>
    <%= nav_link "search", :search %>
    <%= nav_link "browse", :browse %>

    <% if user_signed_in? %>
      <%= nav_link "user", edit_user_registration_path %>
      <%= link_to "logout", destroy_user_session_path, method: :delete, onFocus: "blur();" %>
    <% else %>
      <%= nav_link "login", new_user_session_path %>
    <% end %>
  </nav>

  <%= yield %>

  <footer data-role="footer" data-position="fixed">
    <div data-role="navbar">
    <ul>
    <li data-icon="gear">
    <% if mobile? %>
      mobile
    <% else %>
      desktop
    <% end %>
    </li>

    <li data-icon="home">
    <% if user_signed_in? %>
      <%= link_to "logout", destroy_user_session_path, method: :delete, onFocus: "blur();" %>
    <% else %>
      <%= link_to "login", new_user_session_path %>
    <% end %>
    </li>
    </ul>
    </div>
  </footer>

</body>
</html>
