<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<!DOCTYPE html>
<html>
<head>
  <title>Webmpc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <div id="modeswitcher">
    <%= link_to(:now_playing) do %>
      <div id="songbutton" class="modebutton">song</div>
    <% end %>

    <%= link_to(:playlist) do %>
      <div id="playlistbutton" class="modebutton">playlist</div>
    <% end %>

    <%= link_to(:search) do %>
      <div id="searchbutton" class="modebutton">search</div>
    <% end %>

    <%= link_to(:browse) do %>
      <div id="browsebutton" class="modebutton">browse</div>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to(destroy_user_session_path, :method => :delete) do %>
        <div id="logoutbutton" class="modebutton">logout</div>
      <% end %>
    <% else %>
      <%= link_to(new_user_session_path) do %>
        <div id="loginbutton" class="modebutton">login</div>
      <% end %>
    <% end %>
  </div>

  <div id="displayarea">
  </div>

  <%= yield %>
</body>
</html>
